/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* site design */
* {
    font-family: 'Open Sans';
    font-weight: 100;
}

body{
    background-color: #000000;
    color: whitesmoke;
}

h1{
    color: whitesmoke;
    margin-left: 5%;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 400;
}

.main-wrap {
    padding-top: 70px;
    max-width: 1200px;
    display:block;
    margin-left: 100px;
    margin-right: 100px;
    clear: both;
}

.navigation{
    position:fixed;
    vertical-align: top;
    width: 100%;
    min-width: 300px;
    margin: 0;
    background: rgb(231, 231, 231);
    z-index: 300;
    max-width: 100vw;
}
.navigation ul{
    list-style: none;
    max-width: 100vw;
}
.menu > li{
    position: relative;
    display: inline-block;
}

.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #353535;
    display: flex;
    text-decoration: none;
}

.menu li a:hover{
    color: rgb(250, 0, 83);
    transition: all .3s;
}
.picture{
    width: 550px;
    margin-left: 10%;
}
/*animacion*/
.animated-text {
    color: #fff;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: transparent;
    padding: 0 40px;
    height: 60px;
    overflow: hidden;
    clear: both;
    margin-bottom: 20px;
}

.line {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 600;
}

.line:first-child {
    animation: anim 12s infinite;
}

@keyframes anim {
    0%{
    margin-top: 0;
    }
    16%{
    margin-top: -60px;
    }
    33%{
    margin-top: -120px;
    }
    50%{
    margin-top: -180px;
    }
    66%{
    margin-top: -120px;
    }
    82%{
    margin-top: -60px;
    }
    100%{
    margin-top: 0;
    }
}

.iam {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url('../media/picture.png');
    background-size: 150%;
    background-color:aqua;
    text-shadow: #353535 1px;
}

#iam {
    margin-top: 30px;
}

.iam h2 {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 140%;
}

.iam p {
    text-align: center;
}

.iam p a {
    font-weight: 400;
}

.iam a:visited {
    color:whitesmoke;
}

.btn {
    text-align: center;
    margin-top: 40px;
    
}

.btn > a {
    background-color: coral;
    padding: 15px 40px;
    text-decoration: none;
    transition: ease-in-out 100ms;
}

.btn > a:visited {
    color: whitesmoke;
}

.btn > a:hover {
    background-color: whitesmoke;
    color: coral;
    font-weight: 400;
}

/* services section */
.services {
    text-align: center;
    border-top: #222 solid 2px;
}
.T1 {
    text-align: center;
    padding-top:30px;
    padding-bottom: 3px;
}

.services h2 {
    font-size: 140%;
}

.card {
    display: block;
    text-align:center;
    clear:both;
    padding-bottom: 40px;
    padding-top: 120px;
}

#equipo-estelar {
    border: #fff 2px solid;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 27%, rgba(255,227,190,1) 85%);
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 800px;
    padding-top: 100px;
    background-image: url('../media/equipo-estelar.png');
    background-position: 0;
    background-repeat: no-repeat;
    background-size:contain;
    text-decoration: none;
    transition:ease-in-out 100ms;
}

#equipo-estelar:visited {
    color:whitesmoke;
}

#equipo-estelar:hover {
    border: coral 5px solid;
    color: coral;
    font-weight: 400;
}

.skills {
    border: whitesmoke 1px solid;
    padding: 5px 3px;
}
.services li {
    margin: 5px 3px;
    font-weight: 400;
}
/* contact form*/

#contact {
    text-align:center;
    margin-top: 10px;
    border-top: #333 2px solid;
}

.form-wrap {
    background-color: #222;
    border:#121 1px solid;
    border-radius: 15px;
    padding: 10px 5px;
    margin-top: 10px;
}

.form-wrap h2 {
    font-size: 150%;
    font-weight: 600;
}

.form-contact {
    padding-top: 5px;
}

.info_items {
    font-size: 110%;
}

.info_items ol {
    margin-top: 10px;
    list-style: none;
    font-size: 130%;;
}

.info_items li {
    display: block;
}

.info_items a {
    text-decoration: none;
    color: coral;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 3px 5px;
    transition: ease-in-out 100ms;
}

.info_items a:hover {
    background-color: coral;
    color: whitesmoke;
    font-weight: 400;
}

.info_items a:visited {
    color: coral;
}
.user-info {
    padding-top: 5px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

 .user-info label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

.user-info input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .user-info textarea {
      min-height: 100px;
  }
  
  .user-info input[type=submit] {
    background-color:coral;
    color: white;
    margin-top: 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .user-info input[type=submit]:hover {
      background-color: whitesmoke;
      color: coral;
      font-weight: 400;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

footer {
      vertical-align: bottom;
      max-width: 100vw;
      margin-top: 20px;
      padding-top: 100px;
      padding-bottom: 100px;
  }

  footer a {
      text-decoration: none;
      font-weight: 400;
      color:whitesmoke;
  }

  footer a:visited {
      color:whitesmoke;
  }
@media screen and (max-width: 800px) {
    .line {
        font-size: 25px;
    }

    h1 {
        font-size: 140%;
    }

    .main-wrap {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        font-size: 60%;
    }

    .line {
        font-size: 20px;
    }

    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
      }

    .user-info input[type=submit] {
        width: 50%;
        margin-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .main-wrap {
        margin: 0;
        padding: 0;
        padding-top: 70px;
    }

    h1 {
        font-size: 120%;
    }

    .menu {
        visibility: hidden;
        font-size: 30%;
        min-width: 300px;
    }

    .mobile-menu {
        visibility: visible;
    }

}

@media screen and (max-width: 400px) {
    

    #equipo-estelar {
        padding-left: 40px;
        padding-right: 40px;
        font-size: 75%;
    }
}

@media screen and (max-width: 300px) {
    
    body {
        min-width: 300px;
    }
    
    .iam {
        left: 5px;
        right: 5px;
    }
    
}


